body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    color: #888;
    font-weight: 400;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

button {
    cursor: pointer;
}

#form {
    text-align: center;
}

#form table {
    margin-left: auto;
    margin-right: auto;
}

#successMessages {
    color: green;
}

#errorMessages {
    color: red;
}

#preformattedMessages {
    font-family: monospace;
    /* white-space: pre;*/
}

#copyButton {
    height: 30px;
    width: 35px;
    vertical-align: top;
}
